
body{
    background: url('../images/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 50px 50px 50px;
    min-height: 10vh;
    font-size: 5vh;
    font-family: "Sofia",sans-serif;
    color: #fff;
}
.left1{
    display: flex;
}
.top-nav {
    overflow: hidden;
    background-color: #111;
}
  
.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
  
.top-nav a:hover {
    background-color: #04AA;
}
.top-nav a.active {
    background-color: #04AA;
    color: white;
}
.lists1 ol .btn{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}
.lists1 ol .btn a{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    font-size: 25px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    background: #025178;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: 1s;
}
.lists1 ol .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.25),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.25s;
}
.lists1 ol .btn:hover a::before{
    transform: skewX(45deg) translateX(200px);
}
@media(max-width:912px){
    body{
        background: url('../images/mortarboard.gif');
        background-repeat: no-repeat;
        background-position: 10px;
        color: #025178;

    }
    .lists1{
        margin-top: -15%;
    }
    .top-nav.active {
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .top-nav{
        visibility: hidden;
    }
    .top-nav a{
        border-radius: 10px;
    }
    .bars.active::before{
        content: '\f00d';
        font-family: fontAwesome;
        color: #fff;
        position: fixed;
        z-index: 5;
    }
    .bars::before{
        align-items: center;
        top: 15px;
        right: 40px;
        width: 50px;
        cursor: pointer;
        content: '\f0c9';
        font-family: fontAwesome;
        color: #000;
    }
}
@media(max-width:580px){
    .lists1{
        margin-top: -50%;
    }
}