*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: "Sofia",sans-serif;
    min-height: 1000px;
    background: #154f56;
}
.toggle::before{
    content: '\f185';
    font-family: fontAwesome;
    color: #fff;
}
body.light .toggle{
    background: #154f56;
    color: #fff;
}
body.light .toggle::before{
    content: '\f186';
}
body.light {
    background: #fff;
    color: #000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}
header .banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
}
header .logo::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #ec1839;
    border-right: 5px solid #ec1839;
}
header .logo::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ec1839;
    border-left: 5px solid #ec1839;
    bottom: 10px;
    left: -10px;
}
header.sticky .logo::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 3.5px solid #ec1839;
    border-right: 3.5px solid #ec1839;
}
header.sticky .logo::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 3.5px solid #ec1839;
    border-left: 3.5px solid #ec1839;
    bottom: 0;
    left: -10px;
}
nav{
    position: relative;
    display: flex;
}
nav ul{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a.active{
    background-color: #04AA;
}
nav ul li a:hover{
    color: #ff275f;
}
header.sticky{
    height: 80px;
}
header.sticky .logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0,-50%);
}
header.sticky .banner{
    opacity: 0;
}
@media(max-width: 991px){
    body{
        min-height: 2000px;
    }
    header{
        z-index: 100;
        padding: 40px;
    }
    header.sticky .logo{
        left: 40px;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 8px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav ul li a{
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky nav ul{
        opacity: 1;
        visibility: visible;
    }
    header.sticky .bars::before{
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        content: '\f0c9';
        font-family: fontAwesome;
        color: #fff;
    }
    header.sticky .bars.active::before{
        content: '\f00d';
        font-family: fontAwesome;
        color: #fff;
    }
}
h3.my-profession{
    color: #fff;
}
section{
    max-height: 30vh;
    opacity: 0;
}
section.sticky{
    opacity: 1;
}
section .container{
    transform: translateX(-20px);
    opacity: 1;
    transition: 1.5s;
}
.container {
    margin-top: 25vh;
    transform: translateX(100px);
    transition-delay: 0.25s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
}
.container .card .content h2{
    font-size: 1.8em;
    color: #fff;
    pointer-events: none;
}
.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
/*:root{
    --bg-black-900 : #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50 :#e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.section{
    background: var(--bg-black-900) ;
    min-height: 100vh;
    display: block;
    position: fixed;
    opacity: 1;
}
.main-content{
    padding-left: 270px;
}
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span{
    font-family: "Sofia",sans-serif;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #ec1839;
    border-left: 5px solid #ec1839;
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #ec1839;
    border-right: 5px solid #ec1839;
    bottom: 10;
    left: 10;
}
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: #ec1839;
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: #ec1839;
}
.aside .nav li a i{
    margin-right: 15px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width:100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 40%;
    max-width: 60%;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home .home-img img{
    height: 40px;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: "Sofia",sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ec1839;
}
h3.my-profession{
    font-size: 30px;
    margin: 15px;
}
.typing{
    color: #ec1830
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: #ec1839;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 50px;
    bottom: -50px;
    border-bottom: 10px solid #ec1839;
    border-right: 10px solid #ec1839;
}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #ec1839;
    border-left: 10px solid #ec1839;
    left: 50px;
    top: -50px;
}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
}*/