*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 200em;
    overflow: overlay;
	font-family: "Sofia",sans-serif;
}
.toggle{
    font-size: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.toggle::before{
    content: '\f185';
    font-family: fontAwesome;
    color: #fff;
}
body.light .toggle{
    background: #154f56;
    color: #fff;
}
body.light .toggle::before{
    content: '\f186';
}
body.light .container .card .content h2,
body.light .container .card .content p,
body.light .container .card .content h3{
    color: #000;
}
body.light .container .card {
    background: #c9c9cb;
}
body.light nav.active ul{ 
    background: #c9c9cb;
    color: #000;
    transition: 0s;
}
body.light nav ul li a{
    color: #000;
}
body.light header.sticky .banner{
    opacity: 1;
}
body.light header .logo{
    color: #000;
}
body.light {
    background: #c9c9cb;
    color: #000;
    transition: 0s;
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;

}
header .logo{
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 15px;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    transition: 0.6s;
    text-decoration: none;
    text-transform: uppercase;
}
nav{
    position: relative;
    display: flex;
}
nav ul{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 1;
    float: right;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a.active{
    background-color: #04AA;
}
nav ul li a:hover{
    color: #ff275f;
}
header.sticky{
    height: 80px;
}
@media(max-width: 991px){
    header{
        z-index: 100;
        padding: 40px;
    }
    header .logo{
        left: 40px;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: fixed;
        top: 0;
        left: -100px;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav ul li a{
        font-size: 5vh;
        padding: 5px 15px;
    }
    header nav ul{
        opacity: 1;
        visibility: visible;
    }
    header .bars::before{
        font-size: 50px;
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        content: '\f0c9';
        font-family: fontAwesome;
        color: #fff;
    }
    header .bars.active::before{
        font-size: 50px;
        content: '\f00d';
        font-family: fontAwesome;
        z-index: 10;
        color: #fff;
    }
    .container {
        top: 50px;
        left: 10px;
        font-size: 2em;
    }
}
h3.my-profession{
    color: #fff;
}
section{
    opacity: 1;
}
section .container{
    transform: translateX(-20px);
    opacity: 1;
    transition: 1.5s;
}
.container {
    transform: translateX(100px);
    transition-delay: 0.25s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 28em;
    height: 40em;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
}
.container .card .content h2{
    font-size: 1.8em;
    color: #fff;
    pointer-events: none;
}
.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    /* background: linear-gradient(transparent,#30ff00); */
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#30ff00);
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: #1a1a1f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    margin: -76px 0 0 -76px;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgb(0,0,0,0.4));
}
.loader h3{
    font-size: 2em;
    overflow: hidden;
    border-right: 1px solid #03e9f4;
    animation: typing 5s steps(9) infinite;
}
@keyframes typing{
    0%,90%,100%{width: 0px;}
    30%,60%{width: 123px;}
}
.loader span{
    position: absolute;
    display: block;
}
.loader span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate1{
    0%{left: -100%;}
    50%,100%{left: 100%;}
}
.loader span:nth-child(2){
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{top: -100%;}
    50%,100%{top: 100%;}
}
.loader span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animate3{
    0%{right: -100%;}
    50%,100%{right: 100%;}
}
.loader span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation-delay: -2s;
    animation: animate4 2s linear infinite;
}
@keyframes animate4{
    0%{bottom: -100%;}
    50%,100%{bottom: 100%;}
}
#page{
    background: linear-gradient(45deg,#ff0057,#2196f3);
    display: none;
}